//var
:root {
  --el-color-primary: #002FA1;
}

// button
.el-button {
  &--primary {
    --el-button-bg-color: var(--oe-perf-color-primary);
    --el-button-border-color: var(--oe-perf-color-primary);
    --el-button-hover-bg-color: var(--oe-perf-color-secondary);
    --el-button-hover-border-color: var(--oe-perf-color-secondary);
    --el-button-active-bg-color: var(--oe-perf-color-third);
    --el-button-active-border-color: var(--oe-perf-color-third);
  }
}

//tab
.el-tabs {
  &__item.is-active {
    color: var(--oe-perf-color-primary);
  }
  &__active-bar {
    background: var(--oe-perf-color-primary);
  }
}

//input
.oe-input-with-select {
  .el-input-group__append {
    background-color: var(--el-fill-color-blank);
  }
  .el-input-group__prepend {
    background-color: var(--el-fill-color-blank);
  }
}

.el-radio-button {
  color:red;
}