$header-height: 56px;
$breadcrumb-nav-height: 32px;

.el-main {
  padding: 0;
}
.sub-layout-content {
  min-height: calc(100vh - $header-height);
  background: var(--oe-perf-bg-layout);
  padding: var(--oe-perf-padding);
}